.top-menu__content {
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .top-menu__content {
    grid-template-columns: 1fr auto;
  }
}
