.container__title {
  font-family: 'Play';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 116%;
  color: #050505;
  margin: 0;
  padding: 110px 0 40px;
}


@media screen and (max-width:1000px) {
  .container__title {
    font-size: 50px;
    line-height: 116%;
    padding: 80px 0 30px;
  }
}

@media screen and (max-width:650px) {
  .container__title {
    font-size: 36px;
    line-height: 116%;
  }
}
