.button {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  max-width: 260px;
  padding: 30px;
  width: 100%;
}
