.button {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  max-width: 260px;
  padding: 25px 30px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .button {
    padding: 18px 24px;
  }
}
