.services__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 70px);
  text-align: center;
  transform: translate(-50%, -50%);
  display: none;
  text-decoration: none;
}

.services__item.hover .services__button, .services__item:hover .services__button {
  display: inline-block;
}


@media screen and (max-width: 1000px) {
  .services__item.hover .services__button, .services__item:hover .services__button {
    display: none;
  }

}
