.phone {
  background-image: url(../../images/phone.svg);
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 24px;
  padding: 0 0 0 30px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.phone:hover {
  background-image: url(../../images/phone-hover.svg);
  color:#007BB6;
  text-decoration: underline;
}
.phone:focus {
  font-weight: 700;
}
