.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
}

@media screen and (max-width: 950px) {
  .about__list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
