.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel.hidden {
  display:none;
}


@media screen and (max-width: 650px) {
  .carousel{
    margin-top: 30px;
    padding-top: 30px;
  }

  .carousel .carousel__button {
    position: absolute;
    top: 0;
  }

  .carousel .carousel__button.is-next {
    left: 60px;
  }

  .carousel .carousel__button.is-prev{
    left: 0;
  }
}
