.form__input {
  padding: 10px 10px 10px 20px;
  max-width: 400px;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);

}
