.first-screen__content {
  max-width: 560px;
  padding: 0 10px 15px 0;
  box-sizing: border-box;
}


@media screen and (max-width:1200px) {
  .first-screen__content {
    max-width: 50%;
  }
}

@media screen and (max-width:1000px) {
  .first-screen__content {
    max-width: 100%;
    padding: 40px 0;
  }
}
