.button_color_white {
  background-color: #fff;
  color: #050505;
  border: #fff 2px solid;
  outline: none;
}

.button_color_white:hover {
  background-color: #007BB6;
  border-color: #007BB6;
  color: #fff;
}

.button_color_white:focus {
  background-color: #fff;
  border-color: #252525;
  color: #050505;
}
