.button_color_red {
  background-color: #FF351C;
  color: #fff;
  border: #FF351C 2px solid;
  outline: none;
}

.button_color_red:hover {
  background-color: #d91b03;
  border-color: #d91b03;
}

.button_color_red:focus {
  background-color: #FF351C;
  border-color: #252525;
}
