.footer__contacts {
  display: grid;
  grid-template-columns: 1fr;
  gap:30px;
  align-items: start;
  justify-items: end;
}

@media screen and (max-width: 1000px) {
  .footer__contacts {
    order: 4;
  }
}

@media screen and (max-width: 550px) {
  .footer__contacts {
    order: 2;
    justify-items: stretch;
  }
}
