.popup__form {
  color: #252525;

}

.popup__form .form__fieldset {

}

.popup__form .form__label {
  display: none;
}

.popup__form .form__input {
  background: #F2F2F2;
  color: #252525;
}

.popup__form .form__input::placeholder, .popup__form .form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.popup__form .form__fieldset-textarea {
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
}

.popup__form .form__textarea {
  background: #F2F2F2;
  color: #252525;
  border: 0;
  height: 240px;
}

.popup__form .button {
  width: 100%;
}

.popup__form .form__politics {
  color: #252525;
  margin-top: 15px;
}


@media screen and (max-width: 550px) {
  .popup__form .form__fieldset-textarea {
    grid-column: auto;
  }

  .popup__form .form__input{
    max-width: 500px;
  }
}

