.navigation-select {
  color: #fff;
  border: #007BB6 1px solid;
  border-radius: 30px;
  outline: none;
  background-color: #007BB6;
  padding: 20px 25px;
  max-width: 400px;
  box-sizing: border-box;
  margin: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
