.special-offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1000px) {
  .special-offers {
    grid-template-columns: 1fr;
  }
}
